<div class="container mb-10">
  <div class="row mt-5">
    <div class="col-12 main-container">
      <h1>demos: <small>angular</small></h1>

      <hr>
      <p [style.fontSize.px]="tamano">
        hel
      </p>
      <button class="btn btn-primary" (click)="tamano=tamano+20">
        <i class="bi bi-plus"></i>
      </button>
      <button class="btn btn-danger" (click)="tamano=tamano-20">
        <i class="bi bi-dash"></i>
      </button>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-12">
      <p class="p1">como estas?</p>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-12">
      <div [ngClass]="alert1" class="alert" role="alert">
        <i class="bi bi-check2"></i>
        A simple success alert—check it out!
      </div>
      <button class="btn btn-success" (click)="alert1='alert-success'"><i class="bi bi-check2"></i>ok</button>
      <button class="btn btn-danger" (click)="alert1='alert-danger'"><i class="bi bi-exclamation-octagon"></i> false</button>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-12">

      <h3 [ngClass]="{'text-danger':properties, 'text-info':!properties}">
        hellow world
      </h3>
      <button class="btn" [ngClass]="{'btn-danger':properties, 'btn-info':!properties}" (click)="properties=!properties">
        change
      </button>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-12">
      <h3>Procesos asincronos</h3>
      <button class="btn btn-primary" (click)="ejecutar()" [disabled]="loading">
        <i class="bi  "
        [ngClass]="{'bi-save':!loading,'spinner-border':loading}"></i>
        <span *ngIf="!loading">guardar</span>
        <span *ngIf="loading">espere por favor...</span>
      </button>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-12">
      <p [appResaltado]="'orange'">hola mundo</p>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div [ngSwitch]="alert2">
        <div *ngSwitchCase="'success'">success</div>
        <div *ngSwitchCase="'info'">info</div>
        <div *ngSwitchCase="'warning'">warning</div>
        <div *ngSwitchDefault>danger</div>
      </div>
      <button class="btn btn-success" (click)="alert2='success'">
        cambiar
      </button>
      <button class="btn btn-info" (click)="alert2='info'">
        cambiar
      </button>
      </div>
      <div class="col-6" [ngSwitch]="alert2">

        <div *ngSwitchCase="'success'" class="alert alert-success" role="alert">
          A simple success alert—check it out!
        </div>
        <div *ngSwitchCase="'info'"class="alert alert-info" role="alert">
          A simple info alert—check it out!
        </div>

        <div *ngSwitchCase="'warning'" class="alert alert-warning" role="alert">
          A simple warning alert—check it out!
        </div>
        <div *ngSwitchDefault class="alert alert-danger" role="alert">
          A simple danger alert—check it out!
        </div>

      </div>
    </div>
</div>
